.Btn {
    display: block;
    width :200px;
    background-color: transparent;
    border: 1px solid green; 
    color: green;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    text-decoration: none;
    margin: 20px auto ;
}

.Btn:hover{
    border: 1px solid rgb(151, 216, 151); 
    color: rgb(151, 216, 151);
}

.checkoutDiv{
    text-align: center;
}