.navBar{
    height:56px;
    background-color: #8F5C2C;
    position: fixed;
    top:0;
    width: 100%;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    z-index: 300;
}
.Navigation{
    display:flex;
    justify-content: space-between;
    flex-flow: column;
    align-items: center;
    width:100%;
}

.NavigationItems {
    width:100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
}

@media (min-width: 500px) {
    .NavigationItems {
        flex-flow: row;
    }
}

.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NavigationItem a {
    color: #8F5C2C;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: #40A4C8;
}

@media (min-width: 500px) {
    .NavigationItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    
    .NavigationItem a {
        color: white;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
    
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active {
        background-color: #8F5C2C;
        border-bottom: 4px solid #40A4C8;
        color: white;
    }
}

#div1,#div2,#div3{
    width:33.33%;
}
#div2{
    position: fixed;
    margin-left:30%;
}
@media (min-width:300px )
{
    #div2{
        
        margin-left:80%;
    }
    #div1{
        margin-right: 30%;
    }
}
@media (max-width:800px){
    #div3{
        display:none;
    }
    #div1{
        margin-right: auto;
    }
    #div2{
        margin-left:auto;
    }
}

@media (min-width:801px)
{
    #div2{
        margin-left:30%;
    }
}
.hide{
    display: none;
}

.show{
    display:block;
}

.NavBarSmall{
    display: flex;
    flex-direction: row;   
}
.smallDiv{
    display: flex;
    flex-direction: row;
}

.NavBarSmall{
    width:70%;
    background-color: #fff;
    color:black;
    height:70vh;
    display: flex;
    margin-top:56px;
}
#div4{
    color:#000;
    width: 100px;
    margin-bottom: 100px;
    position: fixed;
    top:0;
    z-index: 500;
    
}
#div4:hover{
    cursor:pointer;
}
.smallDiv{
    display: flex;
    align-items: center;
    flex-flow: column;
    padding:5%;
}

#div5{
    height: 60px;
}
.smallShow{
    display: hidden;
}
@media(max-width:800px){
    .NavigationItems{
        display:none;
    }
    .smallShow{
        display: block;
    }
}